name: Build And Push

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

permissions:
  contents: write
  pull-requests: write
  packages: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.10'
      - name: Release
        id: release
        uses: googleapis/release-please-action@v4.2.0
        with:
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
          config-file: .github/release-please/config.json
          manifest-file: .github/release-please/manifest.json
      -
        name: GoReleaser snapshot
        uses: goreleaser/goreleaser-action@v6
        if: ${{ ! steps.release.outputs.release_created }}
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --snapshot --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      -
        name: GoReleaser
        uses: goreleaser/goreleaser-action@v6
        if: ${{ steps.release.outputs.release_created }}
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --clean --skip-validate
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GORELEASER_CURRENT_TAG: ${{ steps.release.outputs.version }}
      - name: Upload Github release assets
        if: ${{ steps.release.outputs.release_created }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload ${{ steps.release.outputs.tag_name }} ./dist/jbinary_*  --clobber